body {
    margin: 0 auto;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1240px;
    margin: 0 auto 0 auto;
    background: #000;
}


.hero {
    background: url(https://www.figma.com/file/IRlaBYH9LJEruv8Y7fXcmS/image/b20c2a3d1e73c1e6b02f6056d2e1feda1f11b453) 0 0 / cover;
    max-width: 1240px;
    margin: 0 auto 0 auto;
    height: 890px;
 
}


.header__content__logo {
    color: #151515;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    margin: 50px 580px 0;
    position: absolute;
}


.header__content{
    display: flex;

    
}

.header__content__burger{
    position: absolute;

    margin: 50px 0 0 1100px;
}

.hero__content__info-title{
    padding: 300px 560px ;
    color: #FFF;


}

.hero__content__info-btn{
    width: 200px;
    height: 34px;
    background: none;
    margin: 1px 520px ;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}


.about{
    display: flex;
    flex-direction: row;
    max-width: 1240px;
}

.about__content{
    flex: 1;
    background: #FFF;
    width: 625px;
    height: 700px;
}

.about__image__wrap{
    flex: 1;
    height: 642px;
}

.about-image{
    width: 100%;
    height: 100%;
    width: 625px;
    height: 700px;
}

.about__content{
    display: flex;
    align-items: center;  
}

.about__content__info-title{
    display: flex;
    justify-content: flex-start;
}


.gallery-title{
    width: 348px;
    color: #FFF;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 9px 0 5px 10px;
}

.gallery__images img{
    width: 100%;
    height: 100%;
}

.gallery__images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    object-fit: cover;
}

.row-long{
    grid-row: 2/4;
}

.big{
    grid-column: 2/4;
    grid-row: 2/4;
}


.contacts__content{
    background: #FFF;
    height: 600px;
}
.contacts__content-title{
    color: #151515;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 90px 490px;
}

.contacts__content__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts__content__form-input{
    width: 597px;
    height: 56px;
    flex-shrink: 0;
    border: none;
  
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;  
    padding: 0 240px;
    margin: 20px;
}

.contacts-btn{
    width: 136px;
    height: 20pxpx;
}

.footer__content{
    display: flex;
    justify-content: space-around;
    background: #000;
  
}

.footer__content__number{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.footer__content-title{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.footer__content__icons{
   display: flex;
   gap: 20px;
    
}

.about__content__info{
    margin: 0 0 0 40px;
}

.about__content__info-text{
    width: 400px;
    height: 400px;
    align-items: center;
}

h1{
color: #000;
}
